<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>string</key>
	<string>{&quot;Result&quot;:&quot;Success&quot;,&quot;Message&quot;:&quot;&quot;,&quot;Arguments&quot;:[{&quot;EventID&quot;:&quot;16033010403&quot;,&quot;StartDate&quot;:&quot;4/1/2016&quot;,&quot;ActivityName&quot;:&quot;优化餐后 全面达标&quot;,&quot;EventType&quot;:&quot;1&quot;,&quot;RequesterCWID&quot;:&quot;GGHMD&quot;,&quot;SubmitterCWID&quot;:&quot;GGHMD&quot;,&quot;LMCWID&quot;:&quot;GBGJA&quot;,&quot;LMNameCN&quot;:&quot;蔺静&quot;,&quot;Status&quot;:&quot;10&quot;,&quot;HomeCostCenterCode&quot;:&quot;HL20654779&quot;,&quot;HomeCostCeterDesc&quot;:&quot;Qingdao Area-DIA&quot;,&quot;Region&quot;:&quot;North SD DIA&quot;,&quot;RegionCode&quot;:&quot;0882_CSHL084111&quot;}]}</string>
</dict>
</plist>
